.search-box{
    width:100%;
    max-width:700px;
    margin:50px auto;
    display:flex;
    align-items:center;
    background:#fff;
    border-radius:50px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.search-box input{
    flex:1;
    padding:18px 22px;
    border:none;
    outline:none;
    font-size:17px;
}

.search-box button{
    background:#2563eb;
    color:#fff;
    border:none;
    padding:18px 30px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.search-box button:hover{
    background:#1d4ed8;
}